@charset "utf-8";
/* CSS Document */
h1{text-align:center;
}

.subtitulo{
	font-size:12px;
}

body{
	/*background-color:#FFC;*/
	background-color:#FFF;
}

.login{
    width:25%;
    background: #FFC;
    margin:auto;
    border: 1px activecaption groove;
}

.login td{
        text-align:left;
        border:0px;
        color: black;
        padding:4%;
}
.bot2{
    
        text-align: center !IMPORTANT;
}

.izq{
        text-align: right !IMPORTANT;
}

table td{
	text-align:center;
	border:1px #000099 dotted;
        

}

table .sin{
	border:0;
}

table .bot{
	padding:0 5px;
	display:inline;
	border:0;
}

table .primera_fila{
	font-size:1.5em;
	text-decoration:underline;
	background-color:#FC3;
        
        
}

.centrado{
	text-align:center;
}

.boton{
        padding: 2%;
        color: #e7ff00;
        font-size: 1.5rem;
        margin: 0 20px;
        cursor: pointer;
        background: #9b9b2b;
            
}

table .inicio{
        text-align: left;
        padding:2%;
}

table .resto_filas{
    text-align: left;
    padding: 1.5%;
}
